<h3>おすすめ検索</h3>
<%= link_to @cinema.title, @cinema.url, class: "suggestion", target: :_blank %><br>
<%= link_to('違う映画', 'javascript:void(0);', onclick: "window.location.reload();", class: "btn btn-warning")  %>
